<div class="companypage">
  <div class="companypage__bar1">
    <h2>Rent / Sale</h2>
  </div>
  <div class="companypage__photo">
    <%= image_tag "#" %>
  </div>
  <div class="companypage__main">
    <h3>会社概要</h3>
    
  </div>
