<%= render 'layouts/header' %>
<div class="companypage">
  <%# <div class="companypage__bar1">
    <h2>Rent / Sale</h2>
  </div> %>
  <div class="companypage__photo">
    <%= image_tag "sumple-sun.jpg" %>
  </div>
  <div class="companypage__main">
    <h3>会社概要</h3>
    <div class="companypage__main__table">
      <table>
        <tr>
          <th>会社名</th><td>株式会社  司不動産</td> 
        </tr>
        <tr>
          <th>設立</th><td>1998年</td>  
        </tr>
        <tr>
          <th>資本金</th><td>6000万円</td>
        </tr>
        <tr>
          <th>従業員数</th><td>3名（2021年3月現在）</td>
        </tr>
        <tr>
          <th>役員</th><td>代表取締役社長 小西 正和</td>  
        <tr>
          <th>事業内容</th><td>不動産売買、賃貸借、仲介、斡旋及び管理</td>
        </tr>
        <tr>
          <th>登録許認可</th>
          <td>
          一級建築士事務所 東京都知事登録第48462号<br>
          宅地建物取引業 東京都知事（3）第90248号<br>
          賃貸住宅管理業 国土交通大臣（1）第4947号
          </td>
        </tr>
        <tr><th>加盟団体</th>
          <td>
          公益社団法人 全日本不動産協会<br>
          一般社団法人 賃貸不動産経営管理士協議会<br>
          一般社団法人 リノベーション協議会
          </td>
        </tr>
        <tr>
          <th>所在地</th><td>〒760-0046<br>香川県高松市通町5-6<br></td>
        <tr>
          <th>電話</th><td>087-23-5656（代表）</td>
        </tr>
      </table>
    </div>
    <br>
    <h2>__Access__<h2><br>
    <p>* 琴電片原町駅より、徒歩３分 *</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5981.877146121338!2d134.05181845433464!3d34.34272966658414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553eb83cb44fe27%3A0xa21f1e3af49960c8!2z77yI5qCq77yJ5Y-45LiN5YuV55Sj!5e0!3m2!1sja!2sjp!4v1614823706217!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
<%= render 'layouts/footer'%>