* {
  box-sizing: border-box;
}
.header {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: block;
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__left {
      font-size: 30px;
      font-weight: 600;
      color:black;
      padding: 35px;
    }
    &__right {
      height: 100%;
      width: 500px;
      position: relative;
      top: 15px;
      &__info {
        font-size: 17px;
        font-weight: bold;
        position: absolute;
        top:10px;
        left:130px;
      }
      &__request {
        background-color: #3CCACE;
        border: 1px solid #3CCACE;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        text-decoration: none;
      }
    }
  }
  &__bottom {
    width: 100%;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 30px;
    &__info {
      color: #fff;
      text-decoration: none;
    }
    &__ask {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
    }
  }
}
.main {
  &__comp {
    height: 450px;
    width: 1200px;
    margin: 20px 0px;
    display: flex;
    padding: 30px 50px;
    &__image {
      height: 100%;
      width: 65%;
      border: 1px solid whitesmoke;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__info {
      height: 100%;
      width: 35%;
      border: 1px solid whitesmoke;
      padding: 35px 25px;
      &__title {
        font-size: 30px;
        text-align: center;
      }
      &__sub {
        font-size: 20px;
        margin: 30px 0 20px 0;
        font-weight: bold;
        text-align: center;
      }
      &__comment {
        font-size: 17px;
      }
    }
  }
  
  &__bar {
    width: 1200px;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 30px;
    color: #fff;
  }
  
  &__listing {
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: center;
    &__search {
      width: 35%;
      color: gray;
      margin: 50px 30px 50px 30px;
      &__title {
        width: 100%;
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
      }
      &__tab {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        margin-top: 30px;
        &__rent {
          width: 50%;
          color: whitesmoke;
          background-color: black;
          text-align: center;
          padding: 10px;
        }
        &__sale {
          width: 50%;
          color: gray;
          background-color: whitesmoke;
          text-align: center;
          padding: 10px;
        }
      }
      &__area {
        padding: 30px 20px;
        border-bottom: 1px dotted whitesmoke;
        &__title {
          width: 100%;
          font-size: 18px;
          font-weight: bold;
        }
        &__checkbox {
          margin-top: 20px;
          font-size: 17px;
        }
      }
      &__type {
        padding: 30px 20px;
        border-bottom: 1px dotted whitesmoke;
        &__title {
          width: 100%;
          font-size: 18px;
          font-weight: bold;
        }
        &__checkbox {
          margin-top: 20px;
          font-size: 17px;
        }
      }
      &__freeword {
        padding: 30px 20px;
        border-bottom: 1px dotted whitesmoke;
        &__title {
          width: 100%;
          font-size: 18px;
          font-weight: bold;
        }
        &__searchbox {
          margin-top: 20px;
          height: 30px;
          width: 350px;
          border: 1px solid gray;
        }
      }
      &__btn {
        padding: 30px 20px;
        &__submit {
          color: white;
          padding: 10px 0px;
          border: 1px solid gray;
          background-color: gray;
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }

      }

    }
    &__list {
      width: 65%;
      background-color: rgb(223, 221, 235);
    }
  }
}
.footer {
  width: 1200px;
  height: 200px;
  background-color: rgb(227, 240, 229);
}

