* {
  box-sizing: border-box
}
.header {
  width: 100%;
  background-color: #fff;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__left {
      font-size: 45px;
      font-weight: 500;
      color:black;
      padding: 35px 0 35px 100px;
      font-family: 'Times New Roman', Times, serif;
      text-shadow:3px 3px 3px #696565;
      a {
        text-decoration: none;
        color: black;
      }
    }
    &__right {
      height: 100%;
      width: 500px;
      position: relative;
      top: 15px;
      &__info {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top:10px;
        left:130px;
      }
      &__request {
        background-color: #3CCACE;
        border: 1px solid #3CCACE;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 40px;
        text-decoration: none;
      }
    }
  }
  &__bottom {
    width: 100%;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
    &__left {
      width: 50%;
      margin-left: 50px;
      &__info {
        color: #fff;
        text-decoration: none;
      }
      &__ask {
        color: #fff;
        text-decoration: none;
        margin-left: 30px;
      }
    }
    &__right {
      width: 50%;
      text-align: right;
      margin-right: 50px;
      &__login {
        color: #fff;
        text-decoration: none;
      }
      &__register {
        color: #fff;
        text-decoration: none;
        margin-left: 30px;
      }
      &__shipping {
        color: #fff;
        text-decoration: none;
        margin-left: 30px;
      }
    }
  }
}
.main {
  &__comp {
    height: 100%;
    width: 100%;
    margin: 20px 0px;
    display: flex;
    padding: 30px 50px;
    justify-content: center;
    &__image {
      height: 560px;
      width: 60%;
      border: 1px solid whitesmoke;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__info {
      height: 560px;
      width: 35%;
      border: 1px solid whitesmoke;
      padding: 35px 55px;
      &__title {
        font-size: 26px;
        text-align: center;
        padding-top: 50px;
      }
      &__sub {
        font-size: 20px;
        margin: 40px 0 50px 0;
        font-weight: bold;
        text-align: center;
      }
      &__comment {
        font-size: 15px;
      }
    }
  }
  
  &__bar {
    width: 100%;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 80px;
    color: #fff;
  }
  
  &__listing {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    &__side {
      width: 35%;
      padding: 50px 40px;
      &__search {
        width: 100%;
        color: gray;
        border: 1px dashed rgb(218, 212, 212);
        padding: 20px 40px;
        &__title {
          width: 100%;
          font-size: 20px;
          margin: 20px 0;
          font-weight: bold;
        }
        &__tab {
          width: 100%;
          font-size: 18px;
          font-weight: bold;
          display: flex;
          margin-top: 30px;
          &__rent {
            width: 50%;
            color: whitesmoke;
            background-color: black;
            text-align: center;
            padding: 10px;
          }
          &__sale {
            width: 50%;
            color: gray;
            background-color: whitesmoke;
            text-align: center;
            padding: 10px;
          }
        }
        &__area {
          padding: 30px 20px;
          border-bottom: 1px dotted rgb(218, 212, 212);
          &__title {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
          }
          &__checkbox {
            margin-top: 20px;
            font-size: 17px;
          }
        }
        &__type {
          padding: 30px 20px;
          border-bottom: 1px dotted rgb(218, 212, 212);
          &__title {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
          }
          &__checkbox {
            margin-top: 20px;
            font-size: 17px;
          }
        }
        &__freeword {
          padding: 30px 20px;
          border-bottom: 1px dotted whitesmoke;
          label {
            width: 100%;
            font-size: 16px;
            font-weight: bold;
          }
          &__searchbox {
            margin-top: 10px;
            height: 30px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 4px;
          }
        }
        &__btn {
          padding: 30px 20px;
          &__submit {
            color: white;
            padding: 10px 0px;
            border: 1px solid gray;
            background-color: gray;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
          }

        }
      }

    }
    &__list {
      width: 65%;
      height: 100%;
      padding: 50px 0px;
      &__clear {
        width: 100%;
        height: 100%;
        display: flex;
      flex-wrap: wrap;
        &__item1 {
          width: calc(100% / 2);
          height: 100%;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 20px;
          text-decoration: none;
          color: black;
          &__photo {
            box-shadow: 0 10px 25px 0 rgba(0,0,0,0.15);
            text-decoration: none;
            img {
              width: 100%;
              height: 100%;
            }
          }
          &__mark {
            height: 20px;
            background-color: #ff0221;
            color: white;
            font-size: 18px;
            padding: 2px 6px;
            border-radius: 2px;
            font-weight: 600;
          }
          &__name {
            width: 100%;
            margin-left: 10px;
            font-size: 18px;
            font-weight: bold;
            
          }
          &__detail {
            font-size: 18px;
          }
        }
       
      }
    }
  }
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid whitesmoke;
  display: block;
  text-align: center;
  &__base {
    margin: 0 auto;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    &__leftside {
      display: flex;
      margin-left:50px;
      margin-top: 20px;
      justify-content: center;
      &__toppage {
        font-size: 15px;
        margin-right: 30px;
        padding-right: 20px;
        border-right: 1px solid gray;
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__companyinfo {
        font-size: 15px;
        margin-right: 30px;
        padding-right: 20px;
        border-right: 1px solid gray;
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__require {
        font-size: 15px;
        margin-right: 30px;
        padding-right: 20px;
        border-right: 1px solid gray;
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__policy {
        font-size: 15px;
        margin-right: 30px;
        padding-right: 20px;
        border-right: 1px solid gray;
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__tel {
        font-size: 15px;
        padding-right: 20px;
        border-right: 1px solid gray;
      }

    }
  }
  &__copyright {
    font-size: 10px;
    margin-left:50px;
    margin-top: 10px;
  }
}

