<header class="header">
  <div class="header__top">
    <h1 class="header__top__left">Tsukasa Real Estate Co. Ltd</h1>
    <div class="header__top__right">
     <div class="header__top__right__info">
      株式会社司不動産<br>TEL: 087-823-5656<br>電話受付:10:00~17:00
     </div>
     <a class="header__top__right__request" href="#">お問い合わせ</a>
    </div>
  </div>
  <div class="header__bottom">
   <a class="header__bottom__info" href="#">会社概要</a>
   <a class="header__bottom__ask" href="#">お問い合わせ</a>
  </div>
</header>