<header class="header">
  <div class="header__top">
    <h1 class="header__top__left">Tsukasa Real Estate Co. Ltd</h1>
    <div class="header__top__right">
     <div class="header__top__right__info">
      株式会社司不動産<br>TEL: 087-823-5656<br>電話受付:10:00~17:00
     </div>
     <%=link_to "お問い合わせ", new_contact_path, class:"header__top__right__request" %>
     <%# <a class="header__top__right__request" href="">お問い合わせ</a> %>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom__left">
      <a class="header__bottom__left__info" href="#">会社概要</a>
      <a class="header__bottom__left__ask" href="#">お問い合わせ</a>
    </div>
    <div class="header__bottom__right">
      <a class="header__bottom__right__login" href="#">ログイン</a>
      <a class="header__bottom__right__register" href="#">新規登録</a>
      <a class="header__bottom__right__shipping" href="#">出品</a>
    </div>
  </div>
</header>